@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
   
    <h1 class="mt-4" style="text-align:center">ĐÂY LÀ TRANG QUẢN LÝ WEBSITE APHONE</h1>
    @*<ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active" style="text-align:center">APHONE</li>
        </ol>*@
    
</div>