@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- banner -->

<div style=" color: black;padding-top: 30px;padding-bottom: 30px;text-align: center;background-color: #FDA30E">
    <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
</div>
<!-- //banner -->
<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="map wow fadeInDown animated" data-wow-delay=".5s">
            <h3 class="tittle">Xem trên bản đồ</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.49933643672!2d107.5838943148129!3d16.45023468864643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a1457a28d171%3A0x52d0253f55d5f5df!2zMTc2IFRy4bqnbiBQaMO6LCBQaMaw4bubYyBWxKluaCwgVGjDoG5oIHBo4buRIEh14bq_LCBUaOG7q2EgVGhpw6puIEh14bq_IDUzMDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1630091422313!5m2!1svi!2s" ></iframe>
        </div>
        <h3 class="tittle">Form Liên Hệ</h3>
        <form>
            <div class="contact-form2">
                <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tên';}" required="">
                <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Lời nhắn...';}" required="">Message...</textarea>
                <input type="submit" value="Gửi">
            </div>
        </form>
    </div>
</div>

<!-- //contact -->
<!-- //product-nav -->



